# Regular Expression

In [1]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.match("^The.*Spain$", txt)

if (x):
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [2]:
import re

txt = "ABC123 The rain in Spain"
x = re.match("^The.*Spain$", txt)

if (x):
    print("YES! We have a match!")
else:
    print("No match")

No match

In [3]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if (x):
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [4]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [5]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [6]:
import re

line = "Cats are smarter than dogs";

matchObj = re.match( r'dogs', line)
if matchObj:
    print("match --> matchObj.group() : {}".format(matchObj.group()))
else:
    print("No match!!")

searchObj = re.search( r'dogs', line)
if searchObj:
    print("search --> searchObj.group() : {}".format(searchObj.group()))
else:
    print("Nothing found!!")

No match!!
search --> searchObj.group() : dogs

In [7]:
import re
 
pattern='abc'
string='123321 abc abc abc'
match = re.findall(pattern,string)
print(match)

['abc', 'abc', 'abc']

In [8]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"
match = re.findall("ai", txt)
print(match)

['ai', 'ai']

In [9]:
pattern = "a+b*c"
string = 'aabc, ac, aabbccc abb, dd'
match = re.findall(pattern, string)
print(match)

['aabc', 'ac', 'aabbc']

In [10]:
pattern = "a*b+c"
string = 'abbbbc, bc, bcccc,c, acc'
match = re.findall(pattern, string)
print(match)

['abbbbc', 'bc', 'bc']

In [11]:
import re
pattern = "[0-9]+"
pattern = "[0123456789]+"
pattern = "\d+"

string = 'there are 77 apples, 110 bananas, and 5 pineapples'
match = re.findall(pattern, string)
print(match)

['77', '110', '5']

In [12]:
pattern = "[1-3]+"
string = 'abc123, aaabbcc111123, aaa123333bbccc, 1222223'
match =re.findall(pattern, string)
print(match)

['123', '111123', '123333', '1222223']

In [13]:
pattern = "[dor]mit"
string = 'admit, commit, emit, omit, permit'
match = re.findall(pattern, string)
print(match)

['dmit', 'omit', 'rmit']

In [14]:
pattern = "isa{2,5}c"
string = 'These are my friends kevin, andy, isaac, isac, isaaaac, isaaac,and maggie'
match = re.findall(pattern, string)
print(match)

['isaac', 'isaaaac', 'isaaac']

In [16]:
pattern = "[A-Z]+[a-z]"
string = 'ABi, BBc, CNn, ai, be, cd'
match = re.findall(pattern, string)
print(match)

['ABi', 'BBc', 'CNn']

In [17]:
pattern = "\..{2}"
string = 'www.yahoo.com.tw , www.ntu.edu.tw , www.test.gov.tw'
match = re.findall(pattern, string)
print(match)

['.ya', '.co', '.tw', '.nt', '.ed', '.tw', '.te', '.go', '.tw']

In [18]:
pattern = "I have a dream|I don't have to work"
string = 'I have a dream that I don\'t have to work'
match = re.findall(pattern, string)
print(match)

['I have a dream', "I don't have to work"]

In [19]:
pattern = "(([A-Za-z0-9._]+)@([A-Za-z.]+))"
string = 'isaac60103@gmail.com, isaac60103@hotmail.com, kevin@yahoo.com'
match = re.findall(pattern, string)
print(match)

[('isaac60103@gmail.com', 'isaac60103', 'gmail.com'), ('isaac60103@hotmail.com', 'isaac60103', 'hotmail.com'), ('kevin@yahoo.com', 'kevin', 'yahoo.com')]