# Install MySQLdb
`pip install mysqlclient`  
install mysql: https://dev.mysql.com/downloads/installer/

In [1]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","grace0219","mydatabase" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop database if it already exist using execute() method.
cursor.execute("DROP DATABASE IF EXISTS mydatabase")

# execute SQL query using execute() method.
cursor.execute("CREATE DATABASE mydatabase")

# disconnect from server
db.close()

OperationalError: (2002, "Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)")

In [ ]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","grace0219","mydatabase" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Database version : {}".format(data))

# disconnect from server
db.close()

# Create Table

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","isaac","mydatabase" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

# disconnect from server
db.close()

# Insert Data

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","grace0219","mydatabase" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

# Query Data

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","grace0219","mydatabase" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > '%d'" % (1000)
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Fetch all the rows in a list of lists.
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
      # Now print fetched result
        print("fname={},lname={},age={},sex={},income={}".format(fname, lname, age, sex, income ))
except:
    print("Error: unable to fecth data")

# disconnect from server
db.close()

# Update Data

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","isaac","mydatabase" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to UPDATE required records
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')

try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

# Delete Data

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","isaac","mydatabase" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to DELETE required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()