# Integer, Float and Complex

In [1]:
a = 5
b = 3.1
c = 3.0
d = 1+2j
f = 3.1232e3
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(f))
h = 0b10101111
print(a)
print(b)
print(c)
print(d)
print(f)
print(h)

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'float'>
5
3.1
3.0
(1+2j)
3123.2
175

# Boolean

In [2]:
print(5 > 3)
print(5 != 3)
print(5 < 3)

True
True
False

# String

In [3]:
## this is a string
a = 'hello'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print('============')
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

h
e
l
l
o
============
o
l
l
e

In [4]:
a = 'beautiful'
print(a[3:7])
print(a[:3])
print(a[3:])
print(a[3:7:2])
print(a[:])
print(a)

utif
bea
utiful
ui
beautiful
beautiful

In [5]:
a = 'hello'
print(a * 2)

hellohello

In [6]:
b = 'iraq'
print(a+' '+b)

hello iraq

In [7]:
print(len(a))

5

In [8]:
empty_string = '' 
my_string = 'Hello, I am Isaac!'
print(my_string.lower())
print(my_string.upper())
print(my_string.replace(' ','@'))
print(my_string.split(' '))

hello, i am isaac!
HELLO, I AM ISAAC!
Hello,@I@am@Isaac!
['Hello,', 'I', 'am', 'Isaac!']

In [9]:
my_string = 'Hello, I am Isaac!\n'
print(my_string)
print(my_string.strip())

Hello, I am Isaac!

Hello, I am Isaac!

# List

In [10]:
## this is a list
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
print(a[0])
print(a[1])
print(a[-1])

apple
10.4
(1-3j)

In [11]:
empty_list = [] # empty_list = list()
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
print(a + b)

['apple', 10.4, (1-3j), 1, 3, -2, 8, 9, -10]

In [12]:
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
b.append(20)
print(b)
b.remove(3)
print(b)
b.pop()
print(b)
b.insert(1, 100)
print(b)
b.reverse()
print(b)
b.sort()
print(b)

[1, 3, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10]
[1, 100, -2, 8, 9, -10]
[-10, 9, 8, -2, 100, 1]
[-10, -2, 1, 8, 9, 100]

# Tuple

In [13]:
# this is a tuple
a = ('1', '2', '3')
print(a[0])
print(a[-1])
print(len(a))

1
3
3

In [23]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

tuple4 = (4)
print(tuple4 * 3)

('a', 'b', 'c', 1, 2, 3)
12

In [16]:
my_list = [1,2,3]    # elements in list can be arranged.
my_tuple = (1,2,3)   # elements in tuple cannot be arranged.

my_list[1] = 100     # element in list can be assigned to any value.
print(my_list)

my_tuple[1] = 100    # element in tuple causes a type error during being assigned a value. 
print(my_tuple)

[1, 100, 3]

TypeError: 'tuple' object does not support item assignment

# Set

In [17]:
# Each element in set is unique and not duplicated.
fruits = {"apple", "banana","banana","banana","banana","banana","banana","banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'cherry', 'orange', 'apple'}

In [18]:
fruits = {"apple", "banana", "cherry"}

fruits.update(["orange", "mango", "grapes"])

print(fruits)

{'cherry', 'grapes', 'mango', 'banana', 'apple', 'orange'}

In [20]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [21]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

print(fruits)

banana
{'cherry', 'apple'}

In [22]:
a = {1, 2 ,3 ,4}
b = {1,3 ,5 ,7, 9}
print(a & b)
print(a | b)

{1, 3}
{1, 2, 3, 4, 5, 7, 9}

# Dictionary

In [24]:
a = {'isaac':100, 'judy':60, 'Andy':80}
print(a)
print(len(a))
print(a['isaac'])

{'isaac': 100, 'judy': 60, 'Andy': 80}
3
100

In [25]:
a['amy'] = 10
print(a)

{'isaac': 100, 'judy': 60, 'Andy': 80, 'amy': 10}

In [26]:
a['amy'] = a['amy'] + 10
print(a)

{'isaac': 100, 'judy': 60, 'Andy': 80, 'amy': 20}

In [27]:
print(a.values())

dict_values([100, 60, 80, 20])

In [28]:
print(a.keys())

dict_keys(['isaac', 'judy', 'Andy', 'amy'])

In [29]:
a.pop("isaac")
print(a)

{'judy': 60, 'Andy': 80, 'amy': 20}

# Casting

In [30]:
my_string = '1000'
print(type(my_string))
my_float = float(my_string)
print(type(my_float))
my_list = list(my_string)
print(type(my_list))

print(my_string)
print(my_float)
print(my_list)

<class 'str'>
<class 'float'>
<class 'list'>
1000
1000.0
['1', '0', '0', '0']

In [31]:
my_list = [1, 2 ,3 ,5]
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'tuple'>